* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}


a {
	text-decoration: none;

	&:visited {
		color: $white;
	}

	&:link {
		color: $white;
	}
}

li {
	list-style-type: none;
}


h1, h2, h3, h4, h5, h6,
span {
	font-family: $font-family--primary;
}

p {
	font-family: $font-family--secondary;
}

@each $heading, $size in $heading-list {
	#{$heading} {
		font-size: $size;
	}
} //end of @each $headings
