$tmList: --jam, --anthony, --helen, --maite;

.main-container__image--overlay { 
		background: linear-gradient(rgba(255, 152, 0, 0.7), 
								rgba(255, 152, 0, 0.7));
}

.about {
	@extend %tb-box-shadow;
	background: white;

	h2 {
		color: $secondary-color;
	}


	p {
		opacity: 0.87;
		width: 95%;
		padding-top: 1em;
		margin: auto;
	}

}

.tm {
	background: $tertiary-color;
	color: $white;
	&-container {
		
		&__info {

			&__imageContainer {
				
				@each $name in $tmList {
					&#{$name} {
						@extend %tb-box-shadow;
						@extend %tm-image-style;
						background: url("../assets/tmPhotos/tm#{$name}.jpg") no-repeat;
						background-size: cover;
					}
				}
			}

			blockquote {
				font-size: em(18px);
			}
		}
	}
}